@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h2 {
  color: #93bd20;
}

h3 {
  color: #1f65be;
}

strong {
  color: #ee7777;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

code {
  .language-plaintext{
    color: red;
  }
}


.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

}

// header
header {
  h1 {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
  }

  nav{
    ul {
      padding: 0;
      margin: 0;
      white-space: nowrap;
      display: inline-block;
    }

    li {
      display: inline-block;
    }
  }
}

.main-nav, .meta {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  li {
    a {
      color: #fc0;
      font-weight: 900;
      font-size: 0.75em;
      padding: 0.5em 1em;
      text-shadow: none;
      text-transform: uppercase;

      &:hover {
        background-color: #252525;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
      }
    }

    &.current {
      a {
        background-color: #fc0;
        color: #222;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
      }
    }
  }
}

a {
  color: #2aa198;
}

body {
  .post-list {
    a {
      color: #47d035;
      font-weight: 900;
      font-size: 1em;
      padding: 0.5em 1em;
      text-shadow: none;
      text-transform: uppercase;

      &:hover {
        background-color: #252525;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
      }
    }
  }

  color: #ddd;
  background-color: #333;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}