.title{
  font-size: 30pt;
  margin-bottom: 5px;
}

.head{
  margin-bottom: 2rem;
}

.avatar{
  margin-right: 0.5rem;
}

.meta{
  display: flex;
  margin-right: 0.5rem;
}

.profile{
  color: #A0AEC0;
  line-height: 1.5;
  margin-right: 0.5rem;
}

.container{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.625;
}